@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Onest';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/OnestRegular1602-hint.ttf') format('truetype');
}
@font-face{
  font-family: 'Onest';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/OnestBold1602-hint.ttf') format('truetype');
}
@font-face{
  font-family: 'Soyz';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/SoyuzGroteskBold.otf') format('opentype');
}

body {
  margin: 0;
}

